* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    max-width: 1280px;
}

header {
    padding: 16px 0;
    justify-content: center;
    margin-left: 50px;
    text-align: center;
}

form {
    margin-left: 45px;
    text-align: center;
    padding: 6px;
}

form button {
    cursor: pointer;
    background-color: rgb(86, 86, 86);
    color: #fff;
    font-weight: bold;
}

form button:hover {
    background-color:#162c67;
}

form input,
form button {
    padding: 5px;
}

ul li {
    list-style: square;
    margin-top: 15px;
    margin-left: 550px;
    cursor: pointer;
}

ul li:hover {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    cursor: pointer;
}